h1, .final, figure {
    text-align: center; /*to center elements*/
  }
  
  figcaption {
    padding: 10px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /*to center image*/
  }
  
  /*to center section*/
  section {
    margin: 0 auto;
    max-width: 50%;
  }
  
  li {
    padding: 5px; /*gap between timeline to make it readable*/
  }